@media screen and (min-width: 535px) and (max-width: 600px){
    body{
        /* max-width: 550px; */
        overflow-x: hidden;
        /* width: auto;
        height: auto; */
    }

    .jumbo{
        background-image: url('/images/pexels-cottonbro-7674486.jpg');
        background-size: cover;
        background-position: center center;
        border-radius: 0;
        height: auto;
        /* height: 550px; */
        /* min-width: 275px;
        max-width: 550px;      */
        /* width: auto; */
    }

    .navbar-brand img{
        position: relative;
        top: 10px;
        right: 82px;
        width: 200px;
        height: 200px;   
    }

    .navbar-toggler img{
        width: 25px;
        height: 25px;
        position: relative;
        top: -1px;
        left: 20px;
    }

    #navigation{
        position: relative;
        bottom: 70px;
        background-color: rgba(43, 41, 32, 0.555) !important;
        padding-left: 100px !important;
    }

    .navbar-nav p{
        position: relative;
        top: -85px;
        left: 190px;
    }
    
    .navbar-nav img{
        position: relative;
        top: -60px;
        left: 160px;
    }

    .motivation{
        font-size: 30px;
        font-weight: 500;
        color: white;
        position: relative;
        left: 150px;
        top: 50px;
        letter-spacing: 1px;
        line-height: 50px;
        opacity: 0;
        display: none;
    }
    
    .dropdown-menu{
        background-color: rgba(177, 170, 162, 0.555);
        border: none;
    }

    .about {
        margin-top: 0;
        background-color: rgb(18, 16, 7);
        position: relative;
        bottom: 35px;
        height: 300px;
    }
    
    .top {
        margin-top: none;
    }
    
    .top_text {
        position: relative;
        top: 30px;
    }
    
    .top h1 {
        font-size: 20px;
        font-weight: 850;
        margin-bottom: 10px;
        color: aliceblue;
        letter-spacing: 1px;
        line-height: 30px;
        padding-left: 20px;
    }

    /* .top_text{
        display: none;
    }

    .mob_toptext{
        display: inline-block;
    } */
    
    .top p {
        color: aliceblue;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 25px;
        font-weight: 300;
        padding-left: 20px;
        width: 380px;
    }
    
    .gold {
        color: #bba14f;
        font-weight: 850;
    }
    
    .top .btn {
        margin-left: 150px;
        margin-top: 10px;
        border: none;
        font-size: 7px;
        background-color: black;
        color: aliceblue;
        width: 70px;
        height: 30px;
        border-radius: 35px;
        box-shadow: 1px 1px 3px 1px #a08736;
        position: relative;
        bottom: 20px;
        left: 80px;
        /* padding-left: 150px !important; */
    }
    
    .top_img img {
        display: none;
    }

    #middle_pic {
        display: none;
    }
    
    /* .top .btn:hover {
        transform: scale(1.5);
        background-color: #a08736;
        color: white;
    } */

    .cardzone {
        margin-top: 5px;
        margin-left: 20px;
    }
    
    .card_text {
        color: aliceblue;
        margin-bottom: 10px;
    }

    .card_text h1{
        font-size: 20px;
    }
    
    .card_text img {
        width: 100px;
        height: 20px;
        position: relative;
        bottom: 10px;
        right: 15px;
    }
    
    .card-btn {
        width: 80px;
        height: 20px;
        background-color: #14120d;
        color: rgb(246, 241, 212);
        font-size: 10px;
        border: none;
        box-shadow: 2px 2px 3px 1px rgb(237, 219, 121);
        position: relative;
        left: -70px;
        top: 800px;
    }
    
    .card_zone {
        margin-top: 20px;
        margin-left: 10px;
        height: 800px;
    }
    
    .card {
        background-color: black;
        border: 2px solid #323030;
        transition: transform 1s linear 0.2s;
        width: 220px !important;
        max-height: 319px;
    }

    .card img{
        width: 215px;
        max-height: 215px;
    }
    
    .card:hover {
        border: none;
        box-shadow: 3px 3px 20px 5px rgb(116, 95, 66);
        transform: scale(1.2) translate(0, -50px);
    }

    /* .one {
        margin-right: 25px;
        position: relative;
        top: 160px;
        left: 260px;
    }
    
    .two{
        margin-top: -70px;
        position: relative;
        top: 70px;
        right: 210px;
    }
    
    .three{
        margin-top: -70px;
        margin-right: 80px;
        position: relative;
        left: 10px;
        bottom: 10px;
    } */

    .one {
        margin-right: 25px;
        position: relative;
        
    }
    
    .two{
        margin-top: -70px;
        position: relative;
        top: 70px;
    }
    
    .three{
        margin-top: -70px;
        margin-right: 80px;
        position: relative;
        left: 100px;
        bottom: 20px;
    }
        
    /* .two img {
        height: 286px;
        width: 286px;
    }
    
    .three img {
        height: 286px;
    } */
    
    .card-text {
        margin-top: 30px;
        text-align: center;
        background: rgb(51, 51, 42);
        background: linear-gradient(90deg, rgba(51, 51, 42, 1) 0%, rgba(187, 161, 79, 1) 53%, rgba(226, 232, 235, 1) 100%);
        color: aliceblue;
        height: 30px;
        width: 100%;
    }
    
    .v_zone{
        margin-top: 40px;
    }
    
    .v_zone video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        position: relative;
        right: 15px;
        z-index: -1;
        filter: blur(0.5px);
    }
    
    .v_zone h1 {
        position: relative;
        left: 32%;
        bottom: 180px;
        font-size: 1.1rem;
        /* color: rgb(243, 226, 205); */
        color: #f4e8e8;
        /* color: #a69494; */
        font-family: 'Rubik Glitch', cursive;
        /* font-family: 'Rubik Moonrocks', cursive; */
        width: 250px;
    }
    
    .v_zone button {
        position: relative;
        left: 42%;
        bottom: 160px;
        /* top: 50px; */
        width: 5rem;
        height: 1.5rem;
        color: rgb(237, 235, 233);
        font-size: 10px;
        background-color: rgba(176, 221, 251, 0.144);
        /* border: 5px solid #a08736; */
        border: none;
        box-shadow: 2px 2px 5px 2px rgb(129, 128, 125);
    }

    .brands {
        padding-left: 300px;
        height: 100px;
        background-color: rgb(23, 26, 29);
        padding-top: 50px;
        height: 250px;
        position: relative;
        top: -65px;
        bottom: 250px;
    }

    .brands {
        padding-left: 300px;
        height: 100px;
        background-color: rgba(24, 24, 24, 0.92);
        padding-top: 50px;
        height: 100px;
        position: relative;
        bottom: 135px;
    }
    
    /* .brands img{
        padding-bottom: 20px;
        padding-top: 20px;
    } */
    
    .compass{
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: 250px;
    }
    
    .dropbox{
        width: 18px;
        height: 18px;
        position: relative;
        top: -12px;
        right: 205px;
    }
    
    .ebay{
        width: 80px;
        height: 80px;
        position: relative;
        right: 210px;
        bottom: 35px;
    }
    
    .lazboy{
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 30px;
        right: 155px;
    
    }
    
    .twilio{
        width: 45px;
        height: 45px;
        position: relative;
        left: -80px;
        bottom: 20px;
    }

    footer{
        margin-top: 20px;
        height: auto;
        position: relative;
        right: 200px;
    }
    
    .sub_title p{
        position: relative;
        left: 250px;
        font-size: 14px;
        color: rgb(241, 224, 164);
    }
    
    .sub_input>*{
        position: relative;
        left: 270px;
    }
    
    .sub_input input{
        height: 45px;
        width: 220px;
        border: none;
        margin-top: 10px;
        margin-right: 10px;
        padding-left: 25px;
        color: aliceblue;
        background-color: #e7c75b;
    }
    
    ::placeholder{
        color: rgb(37, 36, 36);
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 12px;
    }
    
    .subscribe_btn{
        height: 30px;
        width: 100px;
        margin-top: 10px;
        background-color: transparent;
        border: 2px solid #e6ce80;
        color: #e6ce80;
        font-size: 14px;
        position: relative;
        top: 60px;
        /* right: 800px; */
        left: 40px;
    }
    
    .footer_logo{
        position: relative;
        left: 100px;
        top: 40px;
        /* bottom: 5px; */
    }

    .footer_logo img{
        width: 150px;
        height: 150px;
        position: relative;
        left: 95px;
    }
    
    .footer_logo p{
        color: aliceblue;
        position: relative;
        bottom: 50px;
        left: 150px;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 100 ;
    }
    
    .footer_contact>*{
        color: aliceblue;
        position: relative;
        top: -100px;
        left: 450px;
        /* bottom: 100px; */
    }
    
    .contact{
        font-weight: 600;
        font-size: 12px;
        color: #e6ce80;
    }
    
    .legal p{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 100;
    }
    
    .soc_media{
        margin-bottom: 10px;
    }
    
    .inst{
        position: relative;
        right: 25px;
        width: 30px;
        height: 20px;
    }
    
    .fbk{
        width: 20px;
        height: 20px;
        position: relative;
        right: 135px;
        /* top: 5px; */
    }
    
    .ytube{
        width: 15px;
        height: 15px;
        position: relative;
        right: 245px;
        top: 1px; 
    }
    
    .tik{
        width: 10px;
        height: 10px;
        position: relative;
        right: 355px;
        /* top: 8px; */
    }
    
    .fmenu{
        position: relative;
        left: 400px;
        top: 130px;
        display: none;
    }    
}
